.card img {
  border-radius: 1rem !important;
  //transition: all ease-in-out 0.1s;
}

.card:hover {
  cursor: pointer;
  //transition: all ease-in-out 0.1s;

  img {
    border-radius: 1rem !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  }
}
